div.t1 {
    background-color: rgb(80, 236, 236);
}

div.t2 {
    background-color: rgb(220, 228, 148);
}

span.italic{
    font-style: italic;
}

span.bold{
    font-style: bold;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none
}

a:visited {
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline
}

img {
    float: left;
    margin: 10;
}

p.mewparagrah {
    clear: both;
}