
div {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 80%;
}

h1 {
    text-align: center;
}

body {
    background-color: darkcyan;
}

#fname {
    float: left;
    border-bottom: black;
}

#fname:hover {
    border-color: darkmagenta;
    transition-duration:  1s;
}

label {
    font-size: 15px;
}

fieldset {
    margin-left: 50px;
    margin-right: 50px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 40px;
    padding-bottom: 10px;
    padding-top: 12px;
}

fieldset:hover{
    background-color: rosybrown;
    transition-duration:  1s;
}

legend {
    border: solid 1px;
    padding: 5px;
    background-color: white;
    font-size: 18px;
    border-radius: 10px;   
    
}

.address {
    width: 400px ;
}

.cp {
    margin-right: 50px;
}

.postal {
    margin-right: 135px;
}

.state {
    margin-right: 200px;
}

span {
    color: red;
    font-size: 10px;
}

.mobile {
    margin-left: 20px;
}

.buto {
    margin-top: 10px;
    background-color: rgb(63, 112, 204);
    color: white;
    padding: 7px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.buto:hover {
    transform: rotate(360deg);
    transition-duration:  1s;
}

.mail {
    transition: width 1s;
    /*style*/
    width: 230px;
    height: auto;
  }
  
.mail:hover {
    width: 500px;
  }

select {
    width: 150px;
    height: 40px;
    background-color: rgb(235, 211, 211);
}