
h3{
    text-align: center;
}
.table1{
    border:solid 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 40px;
    box-shadow: 2px 2px 20px 2px grey;
    overflow: hidden;
    border-radius: 10px;
}

.table2{
    border:solid 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 40px;
    box-shadow: 2px 2px 20px 2px grey;
    overflow: hidden;
    border-radius: 10px;
}

.td_1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 40px;
}

.td_2 {
    padding: 2px 100px;
}


.title1{
    text-align: center;
    background-color: rgb(1, 97, 161);
    padding: 20px 100px;
    color: white;
}

.title2{
    text-align: center;
    background-color: rgb(1, 97, 161);
    padding: 20px 100px;
}
.Nom {
    background-color: rgb(82, 137, 255);
    font-weight: bold;
    padding: 10px 40px;
}

.gris {
    background-color: rgb(170, 170, 170);
    padding: 10px 40px;
}

tr:nth-child(odd) {
    background-color: rgb(224, 224, 224);
}

