@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arialimo&display=swap');


h1 {
    font-family: Autour One;
    color: black;
}

th {
    font-family: Lumanosimo;
    color: rgb(0, 58, 112);
    text-align: left;
    padding-left: 15px;

}

table,tr {
    width: 40%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
    text-align: center;
}

td:hover,th:hover {
    color: blue;
    background-color: rgb(161, 255, 255);
    text-decoration: none;
}

td {
    border: 2px solid black;
    padding: 15px;
    font-family: Arial;
}

tr.phone{
    background-color: rgb(0, 130, 190);
}

tr.content {
    background-color: rgb(183, 228, 248);
}

li {
    text-align: left;
}