/*Remove margin and padding form default browser*/
* {
    padding: 0;
    margin: 0;
  }

  /*Add margin bottom to the paragraph*/
  p {
    margin-bottom: 20px;
  }

  /*Add opacity 0.9 to menu*/
  header {
    background: rgba(11, 183, 226, 0.9);  
    width: 100%;
    position: fixed;  /*Fixed menu*/
    z-index: 100;    /*Position menu on top of the rest of the page*/
  }

  nav ul {
    list-style: none;

  }

  /*display nav in one line*/
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  nav ul li a {
    display: block; /* Convertim els elements a un element block per manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }

  nav ul li:hover {
    background: #08588a;
  }

  .content {
    padding-top: 80px;
    width: 80%;
    margin: auto;
    overflow:hidden;
  }
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }