@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

body {
    background-color: rgb(245, 232, 218);
}

h1 {
    text-align: center;
    font-family: Playpen Sans;
    color: rgb(223, 154, 65);
}

nav{
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: center;
}

li {
    float: left;
    padding: 0px 100px 0px 100px;
    font-family: Playpen Sans;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

li a {
    display: block;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}


li:hover {
    color: burlywood;
    text-decoration: underline;
  
}

div.imatges {
    display: grid;
    grid-template-columns: 29% 29% 29%;
    place-content: center;
    gap: 30px
}

.grup_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform(0.8);
}
.grup_img:hover img{
    opacity: 0.1;
}


.grup_img:hover .name {
    opacity: 0.8;
}

.grup_img:hover .readmore {
    opacity: 1;
}

.grup_img .text{
    display:flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    color: brown;
    opacity:0;
    transition:opacity 0.3s;
    font-family: Playpen Sans;
}

.grup_img .readmore {
    background-color: black;
    position: absolute;
    padding: 5px 0px 5px 0px;
    text-align: center;
    width: 30%;
    top: 85%;
    right: 35%;
    color:#fff;
    opacity: 0;
    transition:opacity 0.3s;
    font-family: Playpen Sans;
}

.grup_img .name {
    background-color: black;
    position: absolute;
    width:100%;
    padding: 5px 0px 5px 0px;
    top: 10px;
    text-align: center;
    color:#fff;
    opacity: 0;
    transition:opacity 0.3s;
    font-family: Playpen Sans;
}

.grup_img {
    position:relative;
    transition: transform 1s, opacity 1s, display 1s;
}

.grup_img:hover .text {
    opacity: 0.9;
}

.grup_img:hover {
    background-color: burlywood;
    display: inline-block;
    transform: scale(1.1);
}