
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arialimo&display=swap');

h1 {
    font-family: Autour One;
    color: rgb(19, 76, 102);
}

h2 {
    font-family: Lumanosimo;
    color: rgb(46, 163, 218);
}

h3 {
    font-family: Lumanosimo;
    color: rgb(46, 163, 218);
}

div.link {
    background-color: rgb(0, 130, 190);
    padding: 5px 5px 5px 5px;
    width: 95%;   
}

a {
    color: white;
    margin-left: 15px;
}

div.imatge_text {
    
    margin-left: 10px; 
}

img {
    float: left;
    margin-right: 15px;
}

table {
    width: 35%;
    border-collapse: collapse;
    border: 21px solid black;
    border-spacing: 10px;
}

table, td {
    border: 2px solid black;
    padding: 15px;

}

td,p.class {
    font-family: Arialimo;
}

tr.t_color {
    background-color: rgb(46, 163, 218);
}

a.chapters {
    background-color: burlywood;
    padding: 11px 11px 11px 11px;
    width: 10%; 
}

li {
    margin-top: 25px;
    margin-bottom: 25px;
}

a.chapters:hover {
    color: blue;
    background-color: rgb(161, 255, 255);
    text-decoration: underline;
}

a:hover {
    color: rgb(1, 1, 65);
    text-decoration: underline;
}