.container {
    display: flex;
    justify-content: center;
  /*align vertically*/
    align-items: center;
    position: relative;
    
    /*style*/
    width: 350px;
    height: 200px;
    background-color: #ffe4c4;
    border: 1px solid #00cae0;
    border-radius: 10px;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*style*/
    border: 1px solid #00cae0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f0ffff;
}