button {
    position: absolute;
    height: 4em;
    width: 7em;
    /* width / 2 = 7em / 2 = 3em*/
    left: calc(50% - 3em); 
    /* height / 2 = 4em / 2 = 2em*/
    top: calc(50% - 2em);
    
    background: #0071e1;
    border: none;
    border-radius:  0.5em;
    color: #fff;
    font-family: Helvetica, Arial;
  }