.rotate {
    transform: rotate(-5deg);
    /* style */
    width: 400px;
    height: 100px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
  }

.scalex {
    transform: scalex(2);
    /* style */
    width: 400px;
    height: 100px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
    margin: 100px;
  }

.scaley {
    transform: scaley(2);
    /* style */
    width: 400px;
    height: 100px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
  }

.scale {
    transform: scale(0.34,0.64);
    /* style */
    width: 400px;
    height: 100px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
  }

.skewX {
    transform: skewX(20deg);
    /* style */
    width: 400px;
    height: 100px;
    background-color: coral;
    border: 1px solid black;
    border-radius: 10px;
  }


.matrix {
    transform: matrix(1, 0, 0.5, 1, 150, 0);
    /* style */
    width: 400px;
    height: 100px;
    background-color: violet;
    border: 1px solid black;
    border-radius: 10px;
  }