.transition {
    transition: width 3s;
    /*style*/
    width: 200px;
    height: 100px;
    background: violet;
  }
  
div.transition:hover {
    width: 500px;
  }

.transition3 {
    transition: width 3s, height 2s, transform 2s;
    /*style*/
    width: 100px;
    height: 100px;
    background: rgb(117, 205, 29);
  }
  

div.transition3:hover {
    width: 300px;
    height: 200px;
    transform: rotate(180deg);
  }