

@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Lora:ital@1&family=Tangerine:wght@700&display=swap');


company {
    font-family: Tangerine ;
    font-size: 6rem;
    margin-top: 0;
    color: rgb(49, 150, 133)
}

* {
    font-family: Lora ;
    color: black;
    text-align: center;
    display: block;
    margin-top: 0.7em ;
}

title {
    font-size: 1.5rem

}

time {
    font-size: 1rem
}

days {
    font-size: 1rem
}

name {
    color: rgb(49, 150, 133);
    font-size: 1.5rem;
}

price, description, calories {
    margin-top: 0;
}

price::after {
    content: " $";
    color: grey;
}

price {
    color: grey;
}

calories::before {
    content: "Calories: ";
    color: rgb(120, 170, 46);
    
}

calories {
    color: rgb(120, 170, 46);
}

address, tel, website {
    margin-top: 0;
}