<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <title>All about filmes</title>
    <link>http://joanfilms.com</link>
    <description>Everything you need to know about film identify</description>
    <pubDate>2003-12-13T18:30:02Z</pubDate>
    <item>
        <title>Oscars 2023</title>
        <link>http://joanfilms.com/oscars2023</link>
        <description>Oscar this year has been nightmare</description>
        <author>Joan Seculi</author>
        <guid>A001</guid>
    </item>
    <item>
        <title>Oscars 2023</title>
        <link>http://joanfilms.com/oscars2023</link>
        <description>Oscar this year has been nightmare</description>
        <guid>A0230</guid>
    </item>
    <item>
        <title>Oscars 2023</title>
        <link>http://joanfilms.com/oscars2023</link>
        <description>Oscar this year has been nightmare</description>
        <guid>A0229</guid>
    </item>
</rss>