@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Lora:ital@1&family=Open+Sans&family=Tangerine:wght@700&display=swap');


table, td, th {
    border:solid 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: Open Sans;
    
}

table{
    box-shadow: 2px 2px 20px 2px grey;
}

th {
    padding: 20px;
    background-color: rgb(49, 150, 133);
}

tr:nth-child(odd) {
    background-color: rgb(196, 196, 196);
}

img {
    width: 80px;
    margin: 10px;
    margin-right: 100px;
}

td {
    padding-right: 100px;
}

tr:hover {
    background-color: grey;
}
