
@import url('https://fonts.googleapis.com/css2?family=Arialimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');


h1 {
    font-family: Lumanosimo;
    color: black;
    text-align: left;
}

td.margen {
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

legend {
    border: solid 1px;
    padding: 5px;
    background-color: white;
}

fieldset.primer {
    background-color: rgb(143, 205, 247);
    max-width: 700px;
    
}
fieldset.segon {
    background-color: rgb(84, 170, 228);
    max-width: 700px;

}
fieldset.tercer {
    background-color: rgb(35, 123, 182);
    max-width: 900px;
}