



.logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;

}



table,td,th {
    border:solid rgb(190, 187, 187) 1px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-width: 2px;
}   

th {    
    background-color: rgb(113, 113, 219);
    padding: 10px;
}

td {   
    padding: 10px;
}

body {
    background-color: rgb(190, 187, 187);
    text-align: center;
}

p { 
    margin-top: 2px;
    margin-bottom: 1px;
}