h1 {
    background-color: rgb(36, 106, 187);
    color: white;
    padding-left: 10px;
}

img {
    width: 100%;
}

.dos, iframe {
    margin: 10px;
    width: 96%;

}

h3 {
    background-color: rgb(36, 106, 187);
    color: white;
    padding-left: 10px;
}

.container {
    display: grid;
    place-items: center;
    padding: 10px;
    gap: 20px 20px;
    grid-template-columns: 49% 49%;
}

.div1, .div2 {
    background-color: rgb(216, 216, 216);
    box-shadow: 10px 10px 10px cadetblue;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.regles:nth-child(even) {
    background-color: rgb(119, 163, 214);
}

.regles:nth-child(odd) {
    background-color: rgb(201, 194, 194) ; 
}

th {
    background-color: rgb(36, 106, 187);
    color: white;
}

td {
    padding: 5px;
}

.mans {
    width: 12%;
}

.mans:hover {
    transform:scale(1.1);
}

.abaix {
    background-color: antiquewhite;
    margin: 20px;
    padding-bottom: 20px;
}

.boto {
    color: white;
    background-color: grey;
    padding-right: 7px;
    padding-left: 9px;

}

.game {
    width: 90%;
    border-spacing: 10px;
    border-collapse: separate;
}

.game td {
    background-color: rgb(218, 218, 248);
    width: 50%;

}

.resultat1, .resultat2 {
    width: 65%;
}