@namespace info url(http://www.emporiumbank.com/info);

records {
    display: table;
    margin: 10px;
    width: 99%;
}

info {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#Client\ List:before {
    font-size: 12px;
    content: "Report: " attr(id);
}

info|name {
    color: blue;
    font-size: 25px;
}

info|phone::before {
    content: "Phone: ";
    font-weight: bold;
}


info|email::before {
    content: "Email: ";
    font-weight: bold;
}

info|address::before {
    content: "Address: ";
    font-weight: bold;
}

info|postalzip::before {
    content: "Postal Zip: ";
    font-weight: bold;
}

info|region::before {
    content: "Region: ";
    font-weight: bold;
}

info|country::before {
    content: "Country: ";
    font-weight: bold;
}

record:nth-child(even) {
    background-color: rgb(114, 158, 252);
}

record:nth-child(10n+10) {
    background-color: rgb(45, 86, 173);
}

record {
    display: table-row;
}

record *, header * {
    
        display: table-cell;
        border: 1px solid #000000;
        padding: 3px;
        border-spacing: 0px;
        font-size: 85%;
}

header {
    display: table-header-group;
    background-color: rgb(238, 204, 91);
    font-weight: bold;
    height: 50px;
    text-align: center;
}

