
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

@media only screen and (min-width: 800px) {

    #poke-container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 24% 24% 24% 24%;
    }

}

@media only screen and (min-width: 601px) and (max-width: 799px) {

    #poke-container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 48% 48%;
    }
}   

@media only screen and (max-width: 600px) {

    #poke-container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 98%;
    }
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#pokeImage {
    margin-bottom: 10px;
    background: rgb(235,232,240);
    background: radial-gradient(circle, rgba(235,232,240,1) 0%, rgba(236,210,48,1) 100%);
    border-radius: 10px;

}

#pokemon {
    padding: 10px;
    background-color: #dcdcdc;
    border-radius: 10px;
}

#pokeContent {        
    background: rgb(235,232,240);       
    background: radial-gradient(circle, rgba(235,232,240,1) 0%, rgba(147,147,147,1) 100%);        
    padding: 3%;            
    padding-bottom: 40px;        
    border-radius: 10px;    
}   

#pokeNumber::before {        
    content: "Code: ";        
    color: black;        
    font-weight: bold;    
}    

#pokeHeight::before {        
    content: "Height: ";        
    color: black;        
    font-weight: bold;    
}    

#pokeHeight::after {        
    content: "m";        
    color: black;    
}    

#pokeWeight::before {    
    content: "Weight: ";    
    color: black;    
    font-weight: bold;
}

#pokeWeight::after {
    content: "kg ";
    color: black;
}

#pokeHeight {
    float:left;
}

#pokeWeight {
    float: right;
}

ul::before {
    content: "Type: ";
    place-items: left;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

li:after {
    content: ", ";
}

li:last-child:after {
      content: "";
}

h4:first-letter {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
}

h4 {
    font-family: Playpen Sans ;
    font-size: large;
}

h2 {
    font-family: Playpen Sans ;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


