
table,th,td { 
    border:solid 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td{
    padding-left: 50px;
    padding-right: 50px;
}

body {
    padding-left: auto;
    padding-right: auto;
}

img {
    width: 100px;
}

th {
    background-color: rgb(14, 43, 80);
    padding: 14px;
    text-align: center;
    color: white;
}

tr:nth-child(odd) {
    background-color: rgb(196, 196, 196);
}

h1{
    text-align: center;
}

table{
    box-shadow: 2px 2px 20px 2px grey;
}